In [1]:
import pandas as pd

data = [("Andi", 20), ("Budi", 20), ("Cici", 20)]

df = pd.DataFrame(data, columns=["Nama", "Umur"])

print(df)

   Nama  Umur
0  Andi    20
1  Budi    20
2  Cici    20

In [1]:
import pandas as pd

# This dictionary will become a DataFrame
data = {
    'Nama': ['Andi', 'Budi', 'Caca', 'Deni'],
    'Usia': [25, 30, 28, 35],
    'Kota': ['Jakarta', 'Bandung', 'Surabaya', 'Medan'],
}

# Changing Dictionary into a DataFrame
df = pd.DataFrame(data)

print(df)

   Nama  Usia      Kota
0  Andi    25   Jakarta
1  Budi    30   Bandung
2  Caca    28  Surabaya
3  Deni    35     Medan

In [8]:
import pandas as pd

nama = pd.Series(['Doni', 'Reno', 'Jhonny'])
usia = pd.Series([25, 31, 32])

df = pd.DataFrame({ 'Nama': nama, 'Usia': usia })

print(df)
print(df['Nama'])

0      Doni
1      Reno
2    Jhonny
Name: Nama, dtype: object

In [7]:
import pandas as pd

# Reading an excel file then turn it into DataFrame
dataframe = pd.read_excel('produksi_sampa_kabupaten.xlsx')

# Menampilkan DataFrame
print(dataframe)

      id  kode_provinsi nama_provinsi  kode_kabupaten_kota  \
0      1             32    JAWA BARAT                 3201
1      2             32    JAWA BARAT                 3202
2      3             32    JAWA BARAT                 3203
3      4             32    JAWA BARAT                 3204
4      5             32    JAWA BARAT                 3205
..   ...            ...           ...                  ...
238  239             32    JAWA BARAT                 3275
239  240             32    JAWA BARAT                 3276
240  241             32    JAWA BARAT                 3277
241  242             32    JAWA BARAT                 3278
242  243             32    JAWA BARAT                 3279

    nama_kabupaten_kota  jumlah_produksi_sampah        satuan  tahun
0       KABUPATEN BOGOR                 1511.15  TON PER HARI   2015
1    KABUPATEN SUKABUMI                  419.01  TON PER HARI   2015
2     KABUPATEN CIANJUR                  981.41  TON PER HARI   2015
3     KABUPATEN BANDUNG                 1895.94  TON PER HARI   2015
4       KABUPATEN GARUT                  464.74  TON PER HARI   2015
..                  ...                     ...           ...    ...
238         KOTA BEKASI                     NaN  TON PER HARI   2023
239          KOTA DEPOK                     NaN  TON PER HARI   2023
240         KOTA CIMAHI                     NaN  TON PER HARI   2023
241    KOTA TASIKMALAYA                     NaN  TON PER HARI   2023
242         KOTA BANJAR                     NaN  TON PER HARI   2023

[243 rows x 8 columns]

KeyError: 'nama'

In [12]:
data = [
    ['John', 28, 'New York'],
    ['Alice', 30, 'Chicago'],
    ['Eva', 25, 'Los Angeles'],
    ['Michael', 32, 'Houston']
]

# Converting the list into DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

# Printing DataFrame
print(f"DataFrame:\n{ df }\n")

# Accessing a row based on the label
print(f"Dataframe, with loc() method:\n{ df.loc[1] }\n")

# Accessing a row based on the posistion of an integer
print(f"Dataframe, with iloc() function\n{ df.iloc[2] }\n")

DataFrame:
      Name  Age         City
0     John   28     New York
1    Alice   30      Chicago
2      Eva   25  Los Angeles
3  Michael   32      Houston

Dataframe, with loc() method:
Name      Alice
Age          30
City    Chicago
Name: 1, dtype: object

Dataframe, with iloc() function
Name            Eva
Age              25
City    Los Angeles
Name: 2, dtype: object

In [14]:
data = {
    'A': [10, 20, 30],
    'B': [5, 15, 25],
    'C': [2, 4, 6],
}

df = pd.DataFrame(data)

print("Original DataFrame:")
print(df)

print("Using addition operation into DataFrame")
df = df + 2

print("Manipulated DataFrame:")
print(df)

Original DataFrame:
    A   B  C
0  10   5  2
1  20  15  4
2  30  25  6
Using addition operation into DataFrame
Manipulated DataFrame:
    A   B  C
0  12   7  4
1  22  17  6
2  32  27  8

In [17]:
data = {
    'A': [10, 20, 30, 40],
    'B': [5, 15, 25, 35],
    'C': [2, 4, 6, 8],
}

df = pd.DataFrame(data)
print("Original DataFrame:")
print(df)

# Sum of each column
sum_result = df.sum()
print("\nJumlah setiap kolom")
print(sum_result)

# Sum of each column
sum_result = df.sum(axis=1)
print("\nJumlah setiap kolom")
print(sum_result)

Original DataFrame:
    A   B  C
0  10   5  2
1  20  15  4
2  30  25  6
3  40  35  8

Jumlah setiap kolom
A    100
B     80
C     20
dtype: int64

Jumlah setiap kolom
0    17
1    39
2    61
3    83
dtype: int64

In [18]:
df.to_excel('hasil_analisis.xlsx', index = False)

In [23]:
data = {
    'Nama': ['Andi', 'Budi', 'Cici'],
    'Umur': [25, 30, 22],
    'Gaji': [5000, 6000, 4500],
}

df = pd.DataFrame(data)

def kategori_umur(umur):
    if umur < 25:
        return 'Muda'
    elif 25 <= umur < 35:
        return 'Dewasa'
    else:
        return 'Lansia'
    
# Creating a new columns with a value from 'kategori_umur'
df['Kategori_Umur'] = df['Umur'].apply(kategori_umur)

# Using map to multiply each value in a DataFrame
df_gandakan = df.map(lambda x: x * 2)

# Using apply to each row to calculates sum
total_per_baris = df.apply(lambda row: row['Umur'] + row['Gaji'], axis=1)

print(df)
print(df_gandakan)
print(total_per_baris)

   Nama  Umur  Gaji Kategori_Umur
0  Andi    25  5000        Dewasa
1  Budi    30  6000        Dewasa
2  Cici    22  4500          Muda
       Nama  Umur   Gaji Kategori_Umur
0  AndiAndi    50  10000  DewasaDewasa
1  BudiBudi    60  12000  DewasaDewasa
2  CiciCici    44   9000      MudaMuda
0    5025
1    6030
2    4522
dtype: int64