In [14]:
import pandas as pd

In [17]:
# Data yang akan diproses
df = pd.read_excel('produksi_sampa_kabupaten.xlsx')

print('DataFrame: ')
print(df[['nama_kabupaten_kota', 'jumlah_produksi_sampah', 'tahun']])

DataFrame:
    nama_kabupaten_kota  jumlah_produksi_sampah  tahun
0       KABUPATEN BOGOR                 1511.15   2015
1    KABUPATEN SUKABUMI                  419.01   2015
2     KABUPATEN CIANJUR                  981.41   2015
3     KABUPATEN BANDUNG                 1895.94   2015
4       KABUPATEN GARUT                  464.74   2015
..                  ...                     ...    ...
238         KOTA BEKASI                     NaN   2023
239          KOTA DEPOK                     NaN   2023
240         KOTA CIMAHI                     NaN   2023
241    KOTA TASIKMALAYA                     NaN   2023
242         KOTA BANJAR                     NaN   2023

[243 rows x 3 columns]

In [8]:
# 1. Memilih kolom tertentu memakai interrows
milih_cols = []
for index, row in df.iterrows():
    milih_cols.append({
        'nama_kabupaten_kota': row['nama_kabupaten_kota'],
        'jumlah_produksi_sampah ': row['jumlah_produksi_sampah'],
        'satuan': row['satuan'],
        'tahun': row['tahun'],
    })
    
df_terpilih = pd.DataFrame(milih_cols)
print(df_terpilih)

    nama_kabupaten_kota  jumlah_produksi_sampah         satuan  tahun
0       KABUPATEN BOGOR                  1511.15  TON PER HARI   2015
1    KABUPATEN SUKABUMI                   419.01  TON PER HARI   2015
2     KABUPATEN CIANJUR                   981.41  TON PER HARI   2015
3     KABUPATEN BANDUNG                  1895.94  TON PER HARI   2015
4       KABUPATEN GARUT                   464.74  TON PER HARI   2015
..                  ...                      ...           ...    ...
238         KOTA BEKASI                      NaN  TON PER HARI   2023
239          KOTA DEPOK                      NaN  TON PER HARI   2023
240         KOTA CIMAHI                      NaN  TON PER HARI   2023
241    KOTA TASIKMALAYA                      NaN  TON PER HARI   2023
242         KOTA BANJAR                      NaN  TON PER HARI   2023

[243 rows x 4 columns]

In [9]:
# 2. Total data dari setiap kabupaten/kota sesuai tahun tertentu
def sum_by_year(year):
    filtered_rows = []
    sum_data = 0
    for index, row in df.iterrows():
        if row['tahun'] == year:
            sum_data += row['jumlah_produksi_sampah']

    print(sum_data)
            
    filtered_rows.append({
        'tahun': year,
        'total_produksi_sampah': sum_data
    })
    
    return filtered_rows

filtered_df = []
year = 2015
filtered_rows = sum_by_year(year)

filtered_df = pd.DataFrame(filtered_rows)
print(filtered_df)

20969.269999999997
   tahun  total_produksi_sampah
0   2015               20969.27

In [10]:
# 3. Jumlahkan data pertahun
tahunan_rows = []
data_pertahun = [] 

for index, row in df.iterrows():
    if row['tahun'] not in tahunan_rows:
        sum_data = 0
        tahunan_rows.append(row['tahun'])
         
        for index, row1 in df.iterrows():
            if row['tahun'] == row1['tahun']:
                sum_data += row1['jumlah_produksi_sampah']
                
        data_pertahun.append({
            'tahun': row['tahun'], 
            'total_produksi_sampah': sum_data
        })
            
df_tahunan = pd.DataFrame(data_pertahun)
            
print(tahunan_rows)
print(df_tahunan)

[2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
   tahun  total_produksi_sampah
0   2015               20969.27
1   2016               20969.27
2   2017               20969.27
3   2018               22772.92
4   2019               24490.56
5   2020               25333.00
6   2021               15735.36
7   2022                    NaN
8   2023                    NaN

In [13]:
# 4. Jumlah data per kabupaten/kor per tahun
kabupaten_rows = []
tahun_rows = []
kabupaten_tahunan = []

for index, row in df.iterrows():
    if row['nama_kabupaten_kota'] not in kabupaten_rows:
        kabupaten_rows.append(row['nama_kabupaten_kota'])
        
for kota in kabupaten_rows:
    dict = {}
    for index, row in df.iterrows():
        if kota == row['nama_kabupaten_kota']:
            dict['nama_kabupaten_kota'] = row['nama_kabupaten_kota']
            dict[row['tahun']] = row['jumlah_produksi_sampah']
            kabupaten_tahunan.append(dict)
        
filtered_data = []
for data in kabupaten_tahunan:
    if data not in filtered_data:
        filtered_data.append(data)

df_kabupaten_kota = pd.DataFrame(filtered_data)

print(len(df.index))
print(df_kabupaten_kota)

243
<===== 4. Jumlah data per kabupaten/kor per tahun =====>
        nama_kabupaten_kota     2015     2016     2017     2018     2019  \
0           KABUPATEN BOGOR  1511.15  1511.15  1511.15  1716.80  2914.65
1        KABUPATEN SUKABUMI   419.01   419.01   419.01   415.50  1003.64
2         KABUPATEN CIANJUR   981.41   981.41   981.41   965.19  1115.81
3         KABUPATEN BANDUNG  1895.94  1895.94  1895.94  2068.06  1334.12
4           KABUPATEN GARUT   464.74   464.74   464.74   473.89  1144.01
5     KABUPATEN TASIKMALAYA   464.52   464.52   464.52   458.45   753.06
6          KABUPATEN CIAMIS   260.91   260.91   260.91   263.01   560.57
7        KABUPATEN KUNINGAN   251.70   251.70   251.70   248.52   537.25
8         KABUPATEN CIREBON   465.75   465.75   465.75   466.25     3.15
9      KABUPATEN MAJALENGKA   254.63   254.63   254.63   249.26   515.70
10       KABUPATEN SUMEDANG   237.96   237.96   237.96   236.12   436.96
11      KABUPATEN INDRAMAYU   613.18   613.18   613.18   603.11  1071.05
12         KABUPATEN SUBANG   487.26   487.26   487.26   498.70  1012.45
13     KABUPATEN PURWAKARTA   308.96   308.96   308.96   323.87   384.43
14       KABUPATEN KARAWANG   869.86   869.86   869.86   896.85   934.40
15         KABUPATEN BEKASI  1228.60  1228.60  1228.60  1600.71  2590.00
16  KABUPATEN BANDUNG BARAT   616.08   616.08   616.08   663.54  1124.50
17    KABUPATEN PANGANDARAN   185.83   185.83   185.83   171.21   250.23
18               KOTA BOGOR   991.93   991.93   991.93  1069.41   620.55
19            KOTA SUKABUMI   309.91   309.91   309.91   318.12   172.82
20             KOTA BANDUNG  2448.63  2448.63  2448.63  2441.12  1575.73
21             KOTA CIREBON   304.15   304.15   304.15   308.37   245.00
22              KOTA BEKASI  2387.08  2387.08  2387.08  2858.60  2060.70
23               KOTA DEPOK  1844.30  1844.30  1844.30  2272.07  1469.77
24              KOTA CIMAHI   563.21   563.21   563.21   592.62   267.74
25         KOTA TASIKMALAYA   472.36   472.36   472.36   465.23   291.60
26              KOTA BANJAR   130.21   130.21   130.21   128.34   100.67

      2020     2021  2022  2023
0   2977.0   971.59   NaN   NaN
1   1006.0   356.02   NaN   NaN
2   1117.0   355.69   NaN   NaN
3   1355.0  1489.04   NaN   NaN
4   1151.0   321.17   NaN   NaN
5    754.0   172.26   NaN   NaN
6    564.0   159.41   NaN   NaN
7    540.0   405.76   NaN   NaN
8   1096.0   242.52   NaN   NaN
9    518.0   546.54   NaN   NaN
10   438.0   707.75   NaN   NaN
11  1077.0   792.48   NaN   NaN
12  1023.0   739.60   NaN   NaN
13   388.0   239.72   NaN   NaN
14   942.0   614.61   NaN   NaN
15  2258.0  1193.76   NaN   NaN
16  1135.0   201.09   NaN   NaN
17   252.0    46.62   NaN   NaN
18   567.0   719.72   NaN   NaN
19   181.0   232.06   NaN   NaN
20  1630.0  1529.04   NaN   NaN
21   192.0   229.75   NaN   NaN
22  1923.0  1500.77   NaN   NaN
23  1516.0  1418.87   NaN   NaN
24   369.0   193.36   NaN   NaN
25   285.0   295.87   NaN   NaN
26    79.0    60.29   NaN   NaN

In [16]:
df_terpilih.to_excel('df_terpilih.xlsx', index=False) # Nomor 1
filtered_df.to_excel('filtered_df.xlsx', index=False) # Nomor 2
df_tahunan.to_excel('df_tahunan.xlsx', index=False) # Nomor 3
df_kabupaten_kota.to_excel('df_kabupaten_kota.xlsx', index=False) # Nomor 4